<div class="container">
    <div class="menu">
        <h1 class="logo"><span>Bocardo  </span>City</h1>   
        <div class="bts">
            <a href="/about-us" class="about-us">About us</a>
            
        </div> 
    </div>
    <div class="navbar">
        
           <img src="logo.png" alt="Online Collaboration">
          
        
    </div>
    <div class="main-container">
        <div class="main">
            <header>
                <div class="overlay" id="one">
                    <h2 class="title">Hey  there..!!!</h2>
                    <p class="description">“click here to be part of a new Era of Technology  <span  style="color:rgb(72, 51, 51); font-size: 150%"><strong>Online collaboration</strong> </span>” 
                    </p>
                    <div class="bts">
                       <a mat-list-item  class="nav-link" (click)="logInUser()" class="btn">Login</a>/<a mat-list-item   class="nav-link" (click)="RegUser()" class="btn">Resgistration</a>  
                      </div>
                </div>
            </header>
        </div>
        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>
</div>
<div class="pages">
    <app-login-user></app-login-user>
</div>

<div class="pagess">
    <app-register-user></app-register-user>
</div>
